### Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [183]:
import pandas as pd
import numpy as np

In [199]:
from env import host, user, password
def get_db_url(user, password, host, database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'
url = get_db_url(user, password, host, 'employees')

In [200]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

### Once you have successfully run a query:

#### a. Intentionally make a typo in the database url. What kind of error message do you see?

In [202]:
get_db_url = f'mysql+pymysql://{user}:{password}@{host}/emlyees'
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'germain_1468'@'%' to database 'emlyees'")
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
The error tells me that my access was denied

#### b. Intentionally make an error in your SQL query. What does the error message look like?

In [203]:
pd.read_sql('SELECT * FROM employes LIMIT 5 OFFSET 50', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employes' doesn't exist")
[SQL: SELECT * FROM employes LIMIT 5 OFFSET 50]
(Background on this error at: http://sqlalche.me/e/14/f405)

The error tells me that the table does not exist

#### Read the employees and titles tables into two separate DataFrames.

In [48]:
get_db_url = f'mysql+pymysql://{user}:{password}@{host}/employees'
employees = pd.read_sql('SELECT * FROM employees', get_db_url)

In [49]:
get_db_url = f'mysql+pymysql://{user}:{password}@{host}/employees'
titles = pd.read_sql('SELECT * FROM titles', get_db_url)

#### How many rows and columns do you have in each DataFrame? Is that what you expected?

The employees table is (300024 x 6) and the titles table is (443308 x 4)

#### Display the summary statistics for each DataFrame.

In [51]:
employees.info()
employees.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [53]:
titles.info()
titles.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

#### How many unique titles are in the titles DataFrame?

In [56]:
len(titles.title.value_counts())

7

There are 7 unique titles in the title df

#### What is the oldest date in the to_date column?

In [61]:
titles.to_date.sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

The oldest date is March 11, 1985

#### What is the most recent date in the to_date column?

In [173]:
todate = titles.to_date.unique()
np.sort(todate)

array([datetime.date(1985, 3, 1), datetime.date(1985, 3, 11),
       datetime.date(1985, 3, 20), ..., datetime.date(2002, 7, 31),
       datetime.date(2002, 8, 1), datetime.date(9999, 1, 1)], dtype=object)

The most recent date is August 1, 2002

In [228]:
pd.read_sql('SELECT * FROM titles WHERE to_date < NOW() ORDER BY to_date DESC LIMIT 5', url)

   emp_no         title   from_date     to_date
0   55876         Staff  1995-08-01  2002-08-01
1   20278  Senior Staff  1999-11-04  2002-08-01
2   64174      Engineer  1996-08-01  2002-08-01
3   21763         Staff  1994-08-01  2002-08-01
4   26000         Staff  1997-08-01  2002-08-01

### Exercise 2

In [239]:
from pydataset import data
import pandas as pd
import numpy as np

#### 1. Copy the users and roles DataFrames from the examples above.

In [230]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

In [231]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

#### 2. What is the result of using a right join on the DataFrames?

In [234]:
users.merge(roles, left_on='role_id', right_on='id', how='right', indicator=True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0     1      admin        both
1   2.0    joe      2.0     2     author        both
2   3.0  sally      3.0     3   reviewer        both
3   4.0   adam      3.0     3   reviewer        both
4   NaN    NaN      NaN     4  commenter  right_only

In [235]:
roles.merge(users, left_on='id', right_on='role_id', how='right', indicator=True)

   id_x    name_x  id_y name_y  role_id      _merge
0   1.0     admin     1    bob      1.0        both
1   2.0    author     2    joe      2.0        both
2   3.0  reviewer     3  sally      3.0        both
3   3.0  reviewer     4   adam      3.0        both
4   NaN       NaN     5   jane      NaN  right_only
5   NaN       NaN     6   mike      NaN  right_only

#### 3. What is the result of using an outer join on the DataFrames?

In [236]:
users.merge(roles, left_on='role_id', right_on='id', how='outer', indicator=True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0   1.0      admin        both
1   2.0    joe      2.0   2.0     author        both
2   3.0  sally      3.0   3.0   reviewer        both
3   4.0   adam      3.0   3.0   reviewer        both
4   5.0   jane      NaN   NaN        NaN   left_only
5   6.0   mike      NaN   NaN        NaN   left_only
6   NaN    NaN      NaN   4.0  commenter  right_only

In [237]:
roles.merge(users, left_on='id', right_on='role_id', how='outer', indicator=True)

   id_x     name_x  id_y name_y  role_id      _merge
0   1.0      admin   1.0    bob      1.0        both
1   2.0     author   2.0    joe      2.0        both
2   3.0   reviewer   3.0  sally      3.0        both
3   3.0   reviewer   4.0   adam      3.0        both
4   4.0  commenter   NaN    NaN      NaN   left_only
5   NaN        NaN   5.0   jane      NaN  right_only
6   NaN        NaN   6.0   mike      NaN  right_only

#### 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [238]:
users.merge(roles, how='outer', indicator=True)

   id       name  role_id      _merge
0   1        bob      1.0   left_only
1   2        joe      2.0   left_only
2   3      sally      3.0   left_only
3   4       adam      3.0   left_only
4   5       jane      NaN   left_only
5   6       mike      NaN   left_only
6   1      admin      NaN  right_only
7   2     author      NaN  right_only
8   3   reviewer      NaN  right_only
9   4  commenter      NaN  right_only

#### 5. Load the mpg dataset from PyDataset.

In [240]:
mpg = data('mpg')

#### 6. Output and read the documentation for the mpg dataset.

In [241]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

#### 7. How many rows and columns are in the dataset?

In [242]:
mpg.shape

(234, 11)

#### 8. Check out your column names and perform any cleanup you may want on them.

In [379]:
mpg.columns
mpg = mpg.rename(columns={'fl': 'fuel'})

#### 9. Display the summary statistics for the dataset.

In [380]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [381]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fuel          234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 30.0+ KB

#### 10. How many different manufacturers are there?

In [382]:
mpg.manufacturer.value_counts()
len(mpg.manufacturer.value_counts())

15

#### 11. How many different models are there?

In [383]:
mpg.model.value_counts()
len(mpg.model.value_counts())

38

#### 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [384]:
mpg['mileage_difference'] = (mpg.hwy - mpg.cty)

In [385]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

#### 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [386]:
mpg['average_mileage'] = round((mpg.cty + mpg.hwy) / 2, 2)

In [387]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

#### 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [388]:
mpg['is_automatic'] = mpg.trans.str.startswith("auto")

In [389]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

#### 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [390]:
mpg.groupby('manufacturer').average_mileage.agg('mean').sort_values(ascending=False)

manufacturer
honda         28.500000
volkswagen    25.074074
hyundai       22.750000
subaru        22.428571
audi          22.027778
toyota        21.720588
pontiac       21.700000
nissan        21.346154
chevrolet     18.447368
ford          16.680000
mercury       15.625000
jeep          15.562500
dodge         15.540541
lincoln       14.166667
land rover    14.000000
Name: average_mileage, dtype: float64

#### 16. Do automatic or manual cars have better miles per gallon?

In [391]:
mpg.groupby('is_automatic').average_mileage.agg(['mean', 'max', 'min', 'count'])

                   mean   max   min  count
is_automatic
False         22.227273  39.5  10.5     77
True          19.130573  35.0  10.5    157

On average, manuals get better mileage